<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/dejeuner.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/astronaute_detouré.png' %}"/>
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'bde/navbar.html' %}
    {% block content %}
    {% endblock %}

    <section id="dejeuner">
        <div class="contact_div">
                <div class="texte"><h1>Déjeuner</h1></div>


                    <form action="" method="post">

                        {% csrf_token %}
                        <div class="bloc">
                            <input type="text" name="Prenom" placeholder="Votre Prenom" required="" maxlength="20">
                            <input type="text" name="Nom" placeholder="Votre nom" required="" maxlength="20">
                        </div>
                        <div class="bloc">
                            <input type="integer" name="Num" placeholder="Numero de tel" required="" maxlength="10">
                            <input type="text" name="Adresse" placeholder="Adresse de livraison" required="">
                        </div>
                        <div class="bloc">
                            <div class="couvert">Couvert :<input type="checkbox" id="Couvert" name="Couvert" checked></div>
                            <div class="vieux"> Vieux : <input type="checkbox" id="Vieux" name="Vieux" checked></div>
                        </div>
                        <div class="bloc">
                            <div class="menu">
                                Menu :
                                <select name="Menu" required>
                                    <option value="">-----</option>
                                    <option value="Menu1">Menu1</option>
                                    <option value="Menu2">Menu2</option>
                                    <option value="Menu3">Menu3</option>
                                </select>
                            </div>
                            <div class="horaire">
                            Horaire de livraison :
                            <select name="Horaire" required>

                                {% for horaire in horaires %}
                                    if horaire.Count!=0 :
                                        <option value="{{horaire.Horaire}}">{{horaire.Horaire}}</option>
                                    else :
                                {% endfor %}
                            </select>

                            </select>
                        </div>
                        </div>
                        <textarea type="text" name="Message" placeholder="Remarques particulieres (allergies ...)" maxlength="100"></textarea>
                        <button type="submit" onclick="maFonction()">Envoyer</button>

                    <script>
                          function maFonction()
                          {
                            confirm("Attention tu n'as droit que à un seul menu par personne, es-tu sur de ton choix ?");
                          }
                    </script>
                    </form>
        </div>
    </section>
    <footer>
        <div class="parentIcon">
            <a href="https://www.youtube.com/@astro-listebde2023" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100087748087188" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/astro_2023_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="copy">
            <p>Copyright © 2022 - Liste BDE Astro | Développé par Adrien Bonnivard & Hugo Cadet</p>
        </div>
    </footer>
</body>
</html>