@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Réinitialiser les styles par défaut du navigateur */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: astro;
  src: url(spaceage.ttf);
}


html, body {
    height: 80%;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

section#id .texte {
    margin-top: 100px;
}

.parentIcon {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: black;
}
.parentIcon a {
    text-align: center;
    width: 12%;
    padding: 10px;
    color: #a51840;
    font-size: 35px;
}
.parentIcon a:hover {
    color: #1f2121;
}

.copy {
    height: 5vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media (hover: none) and (orientation: portrait), (max-width:700px) {
    html, body {
        height: 100%;
        margin: 0;
        border: 0;
        font-family: 'Lato', sans-serif;
    }

.parentIcon {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: black;
}
.parentIcon a {
    text-align: center;
    width: 12%;
    padding: 10px;
    color: #a51840;
    font-size: 20px;
}
.parentIcon a:hover {
    color: #1f2121;
}

.copy {
    height: 15%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
}