* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}

html, body {
}

#main {
    height: 120vh;
    max-width: 100%;
    background-color: #1f2121;
}

.above {
    height: 100vh;
    z-index: -99;
}

.above img {
    position: absolute;
    min-width: 50%;
    min-height: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -100;
}

.above h1 {
    color: white;
    transform: translateY(100px);
    text-align: center;
}

.tableau {
    color: white;
    position: relative;
    z-index: 10;
    transform: translateY(180px);
}

.inttab1 {
    margin: 0 auto;
    margin-top: -40px;
    padding: 10px;
    height: 100px;
    width: 700px;
    border-radius: 10px;
    margin-bottom: 50px;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    box-shadow: 0px 10px 50px -10px #a92a37;
}

.inttab2 {
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    height: 500px;
    width: 700px;
    overflow: auto;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    box-shadow: 0px 10px 50px -10px #a92a37;
}
.inttab3 {
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 700px;
    margin-bottom: 50px;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    box-shadow: 0px 10px 50px -10px #a92a37;
}




table, .table2 {
    margin-top: -10px;
    width: 100%;
    padding: 5px;
}

tr {
    padding: 8px;
    text-align: center;
}

th {
    color: white;
    text-align: center;
}


.first {
    color:#C09628;
}

.second {
    color: silver;
}

.third {
    color:saddlebrown;
}



.parentIcon {
    display: flex; height: 45px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
    background-color: black;
}
.parentIcon a {
    text-align: center;
    transform: translateX(5px);
    padding: 0 10px 0px 10px;
    color: #a51840;
    font-size: 35px;
    transition: all .4s;
}
.parentIcon a:hover {
    color: #1f2121;
}

.copy {
    height: 5vh;
    display: flex; height: 29px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.copy p {
    margin-bottom: 0;
    padding-bottom: 5px;
}

@media screen and (max-width: 700px) {


    .inttab1 {
        font-size: 0.8rem;
        width: 300px;
        margin-top: -50px;
    }

    .inttab3 {
        font-size: 0.8rem;
        width: 300px;
        margin-top: -20px;
    }

    .inttab2 {
        font-size: 0.8rem;
        width: 300px;
        height: 500px;
        margin-top: -20px;
    }


    .parentIcon {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        width: 100%;
        background-color: black;
    }
    .parentIcon a {
        text-align: center;
        width: 12%;
        padding: 10px;
        color: #a51840;
        font-size: 20px;
    }

    .copy {
        height: 15%;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 4px;
    }
}


@media screen and (max-width: 700px) and (max-height: 750px) {
    .inttab1 {
        font-size: 0.8rem;
        width: 300px;
        margin-top: -80px;
    }

    .inttab2 {
        font-size: 0.8rem;
        width: 300px;
        height: 350px;
        margin-top: -30px;
    }
    .inttab3 {
        font-size: 0.8rem;
        width: 300px;
        margin-top: -30px;
    }

}

@media screen and (min-width: 1000px) and (min-height: 550px) and (max-height: 750px){
    #main {
        height: 150vh;
    }

    .inttab2 {
        font-size: 0.8rem;
        width: 700px;
        height: 300px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 750px) and (max-height: 850px){
    #main {
        height: 130vh;
    }

}

@media screen and (max-width: 300px) {
    .inttab2 {
        width:250px;
    }

    .inttab1 {
        width:250px;
    }

    .inttab3 {
        width:250px;
    }


}
