@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Réinitialiser les styles par défaut du navigateur */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
}

@font-face {
  font-family: astro;
  src: url(spaceage.ttf);
}


html, body {
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}


.main {
    padding: 15px 0;
    background: #1f2121;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.page_title {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    align-content: center;
    margin-top: 150px;
}


/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: absolute;display: flex;
  top: 10%;
  left: 20%;
  height: 60%;
  width: 60%; height: 60%;

}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border: 1px rgba(217, 0, 0, 0.3) solid;
  border-radius: 100%;
  -webkit-animation: spin-right 30s linear infinite;
  animation: spin-right 10s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 10px;
  width: 10px;
  border-radius: 100%; box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.25), 0 0 10px 4px rgba(255, 148, 7, 0.16);
  background-color: #c29115;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border: 1px rgba(217, 0, 0, 0.3) solid;
  border-radius: 100%;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 15s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #7663ff; box-shadow: 0 0 25px 0px rgba(255, 255, 255, 0.25), 0 0 20px 7px #7663ff;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  border: 1px rgba(217, 0, 0, 0.3) solid;
  border-radius: 100%;
  -webkit-animation: spin-right 50s linear infinite;
  animation: spin-right 20s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-cirlces {
  position: absolute;
  top: -17px;
  left: 125px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: rgba(218, 0, 0, 0.8);
    box-shadow: 0 0 20px #ff5858;
    }

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bloc1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    margin-top: 400px;
}


.flip-card {
    height: 100%; width: 100%;
}
.essaion {
    margin: 50px 0;
    height: 400px;
    width: 400px;
    margin-right: 1%;
}


.essaion .flip-card .cadre_front {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2121 ;
    box-shadow: 0px 10px 50px -10px #a92a37;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    flex: 1;
    position: relative;
}

.fleche {
    z-index: 20;
    position: absolute;
    top: 0; right: 0;
    width: 15%; height: 15%;
}
.fleche img {
    width: 100%;
    height: 100%;
}
.ocs {
    margin: 50px 20px;
    height: 400px;
    width: 400px;
    margin-right: 1%;
}


.ocs .cadre_front {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2121 ;
    box-shadow: 0px 10px 50px -10px #a92a37;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
}

.simone {
    margin: 50px 0;
    height: 400px;
    width: 400px;
    margin-right: 1%;
}


.simone .cadre_front {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2121 ;
    box-shadow: 0px 10px 50px -10px #a92a37;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    flex: 1;
    position: relative;
}

.img_simone {
    text-align: center;
    width: 90%;
}

.img_simone img {
    width: 80%;
}

.img_simone h1 {
    margin-top: -20px;
}


.img_ocs {
    text-align: center;
    width: 90%;
}

.img_ocs img {
    width: 80%;
}

.img_ocs h1 {
    margin-top: -20px;
}



.flip-card .img_essaion {
    text-align: center;
}

.flip-card .img_essaion h1 {
    margin-top: -20px;
}


.flip-card .img_essaion img {
    padding-left: 10px;
    border-radius: 100%;
}


.labo {
    margin: 50px 0;
    height: 400px;
    width: 400px;
    margin-left: 1%;
}

.labo .cadre_front {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2121 ;
    box-shadow: 0px 10px 50px -10px #a92a37;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    flex: 1;
}



.labo .img_labo {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.labo .img_labo img {
    width: 90%;
    border-radius: 100%;
}



.royalfood {
    margin: 50px 0;
    height: 400px;
    width: 400px;
    margin-left: 1%;
}

.royalfood .cadre_front {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2121 ;
    box-shadow: 0px 10px 50px -10px #a92a37;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    flex: 1;
}





.royalfood .img_royalfood {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.royalfood .img_royalfood img {
    width: 100%;

}
.royalfood .img_royalfood h1 {
    transform: translateY(-22px);

}




footer {
    z-index: 1;
}
.parentIcon {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: black;
}
.parentIcon a {
    transform: translateX(5px);
    text-align: center;
    width: 12%;
    padding: 10px;
    color: #a51840;
    font-size: 30px;
}
.parentIcon a:hover {
    color: #1f2121;
}

.copy {
    height: 30%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.copy p {
    margin-bottom: 0;
    padding-bottom: 10px;
}



@media screen and (max-width: 500px) {

    .labo {
        width: 90%;
    }

    .labo .img_labo {
        margin-left: 5%;
    }

    .royalfood {
        width: 90%;
    }
    .ocs {
        width: 90%;
    }

    .essaion {
        width: 90%;
    }

    .simone {
        width: 90%;
    }

}

