@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Réinitialiser les styles par défaut du navigateur */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
}

@font-face {
  font-family: astro;
  src: url(spaceage.ttf);
}


html, body {
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}


.main {
    padding: 15px 0;
    margin: 0 auto;
    background: #1f2121;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 100vh;
}

.page_title {
    display: flex;
    text-align: center;
    color: white;
    position: absolute;
    align-content: center;
    margin-top: 150px;
    margin-left: 38%;
}


.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.loader img{
    position: relative;
    transform: scale(0.4) ;
    -webkit-animation: flash linear 1.3s infinite;
	animation: flash linear 1.3s infinite;
}


@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .3; }
	100% { opacity: 1; }
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
    z-index: -99;
}

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: relative;display: flex;
  top: 20%;
  left: 20%;
  height: 60%;
  width: 60%;
    margin-bottom: -10%
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border: 1px rgba(217, 0, 0, 0.3) solid;
  border-radius: 100%;
  -webkit-animation: spin-right 30s linear infinite;
  animation: spin-right 10s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 10px;
  width: 10px;
  border-radius: 100%; box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.25), 0 0 10px 4px rgba(255, 148, 7, 0.16);
  background-color: #c29115;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border: 1px rgba(217, 0, 0, 0.3) solid;
  border-radius: 100%;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 15s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #7663ff; box-shadow: 0 0 25px 0px rgba(255, 255, 255, 0.25), 0 0 20px 7px #7663ff;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  border: 1px rgba(217, 0, 0, 0.3) solid;
  border-radius: 100%;
  -webkit-animation: spin-right 50s linear infinite;
  animation: spin-right 20s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-cirlces {
  position: absolute;
  top: -17px;
  left: 125px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: rgba(218, 0, 0, 0.8);
    box-shadow: 0 0 20px #ff5858;
    }

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bloc1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



.numérique {
    height: 400px;
    width: 400px;
    margin-right: 1%;
}


.numérique .cadre {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2121 ;
    box-shadow: 0px 10px 50px -10px #a92a37;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
}


.img_essaion {
    text-align: center;
}

.img_essaion h1 {
    margin-top: -20px;
}


.img_essaion img {
    padding-left: 10px;
    border-radius: 100%;
}


.numérique .box {
    width: 25%;
    height: 5px;
    margin-left: 37.5%;
    background-color: #a51840;
}



.secrétariat {
    height: 400px;
    width: 400px;
    margin-left: 1%;
}

.secrétariat .cadre {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2121 ;
    box-shadow: 0px 10px 50px -10px #a92a37;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
}





.secrétariat .img_secrétariat {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.secrétariat .img_secrétariat img {
    width: 90%;
    border-radius: 100%;
}



.secrétariat .box {
    width: 25%;
    height: 5px;
    margin-left: 37.5%;
    background-color: #a51840;
}

footer {
    z-index: 1;
}
.parentIcon {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: black;
}
.parentIcon a {
    text-align: center;
    width: 12%;
    padding: 10px;
    color: #a51840;
    font-size: 30px;
}
.parentIcon a:hover {
    color: #1f2121;
}

.copy {
    height: 30%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.copy p {
    margin-bottom: 0;
    padding-bottom: 10px;
}

@media screen and (max-width: 700px) {

.page_title {
    margin-top: 100px;
    margin-left: 14%;
    z-index: 100;
}


    #circle-orbit-container {
      top: 15%;
      left: 10%;
      height: 30%;
      width: 30%;
    }

    #inner-orbit {
      top: 45px;
      left: 55px;
      width: 100px;
      height: 100px;

}

    #middle-orbit {
      top: 20px;
      left: 20px;
      width: 160px;
      height: 160px;
}

    #outer-orbit {
      width: 200px;
      height: 200px;

}
    .bloc1 {
        flex-direction: column;
    }

.numérique {
    height: 300px;
    width: 300px;
    margin-right: 1%;
}


.numérique .cadre {
    width: 100%;
    height: 100%;
}

.img_essaion h1 {
    margin-top: -20px;
}


.img_essaion img {
    width: 80%;
    height: 80%;
}


.secrétariat {
    height: 300px;
    width: 300px;
}

.secrétariat .cadre {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}


.secrétariat .img_secrétariat img {
    width: 80%;
    height: 80%;
}

}

@media screen and (max-height: 820px) {
    .numérique {
        width: 250px;
        height: 250px;
    }

    .secrétariat {
        width: 250px;
        height: 250px;
    }

    .img_essaion h1 {
        font-size: 1.5rem;
    }

    .img_secrétariat h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-height: 700px) {
    .numérique {
        width: 225px;
        height: 225px;
    }

    .secrétariat {
        width: 225px;
        height: 225px;
    }

}


@media screen and (min-width: 500px) and (max-width: 1200px) {
    .numérique {
        margin-left: 5%;
    }

    .secrétariat {
        margin-right: 5%;
    }

    .bloc1 {
        top:-15%;
    }


    .page_title {
        margin-top: 100px;
        margin-left: 30%;
        z-index: 100;
    }
}

@media screen and (max-width: 400px) and (min-width: 300px) {
    .bloc1 h1 {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 300px) {
    .page_title h1 {
        font-size: 1.4rem;
    }
    .page_title {
        margin-left: 10%;
    }
}

@media  screen and (max-height:450px) and (min-width:600px ){

    .main {
        height: 150vh;
    }

    .bloc1 {
        transform: translateY(40%);
    }

    .bloc1 h1 {
        font-size: 1rem;
    }

    img {
        height: 80%;
        width: 80%;
    }
}