* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Lato', sans-serif;
}

body {
 height: 100%;
 margin: 0;
 border: 0;
 font-family: 'Lato', sans-serif;
}

#dejeuner {
 display: flex; flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 93.5vh; overflow-y: hidden;
 background-image: url("../img/escheresque-dark-1920x1080.png");
 background-repeat: repeat;
 padding-top: 80px;
}


.contact_div {
 backdrop-filter: blur(3px);
 -webkit-backdrop-filter: blur(6px); /* compatibilité avec safari */
 min-width: 80%;
 min-height: 80%; width: 70%;
 padding: 50px 10px;
 margin: 0 auto 20px auto;
 border-radius: 15px;
 border: 1px solid #a51840;
 box-shadow: 0px 10px 50px -10px #050505;
 text-align: center;
 color: white;
 animation-duration: 2s;
 animation-name: slidein;
}



@keyframes slidein {
 from {
 padding-right: 10%;
 padding-left:10%
 }
 to {
 padding-left: 10px;
 padding-right: 10px;
 }
}


section#dejeuner h2 {
    margin-bottom: 20px;
    color: #ece0d2;
}

section#dejeuner .message {
    text-align: center;
}
section#dejeuner .message h2 a {
    color: #ff0557;
    text-decoration: none;
    transition: 0.3s;
}

section#dejeuner .message h2 a:hover {
    color: #a51840;
}

section#dejeuner .contact_div .texte h3{
    font-size: 1.2em;
}

section#dejeuner .contact_div .texte h1{
    margin-bottom: 40px;
    font-size: 3em;
}


section#dejeuner .contact_div form input {
    width: 45%;
    display: flex;
}
section#dejeuner .contact_div form .boisson {
    margin: 15px 0;
}

section#dejeuner .contact_div form .bloc {
    margin: 10px 0;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}
section#dejeuner .contact_div form input:hover,
section#dejeuner .contact_div form textarea:hover {
    border-bottom: 2px solid #a51840;
}

section#dejeuner .contact_div form textarea {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #1f2121;
    transition: 0.2s;
    border-radius: 10px;
    width: 100%;
}
section#dejeuner .contact_div form input {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #1f2121;
    transition: 0.2s;
    border-radius: 10px;
}



section#dejeuner .contact_div form .bloc .vieux {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section#dejeuner .contact_div form .bloc .vieux input {
    flex: 1; margin: 0 10px;
}
section#dejeuner .contact_div form .bloc .couvert {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section#dejeuner .contact_div form .bloc .couvert input {
    flex: 1; margin: 0 10px;
}

section#dejeuner .contact_div form button {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #a51840;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
    display: block;
    margin-top: 5%;

}

section#dejeuner .contact_div form .bloc .menu select option {

        margin-left: 5px;
}

section#dejeuner .contact_div form button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 40px -10px #1f2121;
}



.parentIcon {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #000000;
}

.parentIcon a {
    text-align: center;
    width: 12%;
    padding: 10px;
    color: #a51840;
    font-size: 30px;
}
.parentIcon a:hover {
    color: #000000;
}

.copy {
    height: 30%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.copy p {
    margin-bottom: 0;
    padding-bottom: 2px;
}

@media screen and (max-width: 500px) {

    section#dejeuner .contact_div {
        overflow-x: scroll;
    }

    section#dejeuner .contact_div {
        margin-bottom: 20px;
    }
    section#dejeuner .contact_div form .bloc {
        display: flex;
        flex-direction: column;
    }
    section#dejeuner .contact_div form .bloc input {
        width: 95%;
    }
    section#dejeuner .contact_div form .bloc .couvert {
        margin: 10px 0;
    }

    section#dejeuner .contact_div form .bloc .vieux {
    margin: 0 auto;
}

    section#dejeuner .contact_div form .menu{
        margin: 10px 0;
    }

    section#dejeuner .contact_div form .horaire {
        margin: 10px 0;
    }
}