<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/dejeuner.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/astronaute_detouré.png' %}"/>
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'bde/navbar.html' %}
    {% block content %}
    {% endblock %}

    <section id="dejeuner">
        <div class="contact_div">
                <div class="texte"><h1>Déjeuner</h1></div>
                <form action="#" method="post">
                    <input type="text" name="Nom" placeholder="Prénom" required="nom obligatoire">
                    <input type="text" name="Prénom" placeholder="Nom" required>
                    <input type="tel" name="num" placeholder="Numéro de tel" required="" maxlength="10">
                    <input type="text" name="livraison" placeholder="Adresse de livraison" required>
                     <div class="bloc">
                        <div class="vieux">
                            <label for="vieux" required>Etes vous un 3a+ ?</label>
                            <input type="checkbox" name="vieux" id="vieux">
                        </div>
                        <div class="horaires">
                            <label for="horaire-select" required>Choisi ton horaire :</label>
                            <select name="Horaire" id="horaire-select">
                                <option value="">------</option>
                                <option value="7h00">7h00</option>
                                <option value="7h30">7h30</option>
                                <option value="8h00">8h00</option>
                                <option value="8h30">8h30</option>
                                <option value="9h00">9h00</option>
                                <option value="9h30">9h30</option>
                                <option value="10h00">10h00</option>
                                <option value="10h30">10h30</option>
                                <option value="11h00">11h00</option>
                                <option value="11h30">11h30</option>
                                <option value="12h00">12h00</option>
                                <option value="12h30">12h30</option>
                                <option value="13h00">13h00</option>
                                <option value="13h30">13h30</option>
                                <option value="14h00">14h00</option>
                                <option value="14h30">14h30</option>
                                <option value="15h00">15h00</option>
                                <option value="15h30">15h30</option>
                                <option value="16h00">16h00</option>
                                <option value="16h30">16h30</option>
                                <option value="17h00">17h00</option>
                            </select>
                        </div>
                    </div>
                    <div class="bloc">
                        <div class="bloc2">
                            <label for="menu-select" >Choisi ton menu :</label>
                            <select name="menu" id="menu-select" required>
                                <option value="">------</option>
                                <option value="menu1">Menu1</option>
                                <option value="menu2">Menu2</option>
                                <option value="menu3">Menu3</option>
                            </select>
                        </div>
                        <div class="Couverts">
                            <label for="Couvert" required>Besoin de couverts ?</label>
                            <input type="checkbox" name="Couvert" id="Couvert">
                        </div>
                    </div>

                    <textarea type="text" name="message" placeholder="Précisions utiles (allergie...)"></textarea>
                    <button type="submit" onclick="maFonction()">Envoyer</button>
                </form>
                <script>
                  function maFonction()
                  {
                    confirm("Attention tu n'as droit que à un seul menu par personne, es-tu sur de ton choix ?");
                  }
              </script>
            </div>
    </section>
    <footer>
        <div class="parentIcon">
            <a href="https://www.youtube.com/@astro-listebde2023" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100087748087188" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/astro_2023_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="copy">
            <p>Copyright © 2022 - Liste BDE Astro | Développé par Adrien Bonnivard & Hugo Cadet</p>
        </div>
    </footer>
</body>
</html>