{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L'équipe - Liste Astro BDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static "js/jquery-3.6.1.min.js" %}"></script>
    <script src="{% static "js/rocket.js" %}" async></script>
    <link rel="stylesheet" href="{% static 'css/equipe.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/astronaute_detouré.png' %}"/>
    <script src="{% static "js/loader.js" %}" async></script>




</head>

<body>

    {% include 'bde/navbar.html' %}
    {% block content %}
    {% endblock %}

    <section id="particles-js">

        <div class="loader">
            <img src="{% static "img/astronaute_detouré.png" %}" alt="loader">
        </div>

        <section id="main">



            <div class="organigramme">
                <div class="constellation_orga"><img src="{% static "img/constellation0.png" %}" alt=""></div>


                <h1>L'équipage :</h1>

                <div class="image-container">
                    <img src="{% static "img/orga.jpg" %}" alt="organigramme">
                </div>

                <div class="popup-img">
                    <span>&times;</span>
                    <img src="{% static "img/Organigramme_ASTRO_V13.png" %}" alt="organigramme">
                </div>

                <script>
                    document.querySelectorAll('.image-container img').forEach( img => {
                        img.onclick =  () => {
                            document.querySelector('.popup-img').style.display= 'block';
                        }
                });
                document.querySelector('.popup-img span').onclick = () => {
                    document.querySelector('.popup-img').style.display= 'none';}

                </script>
                <div class="constellation_orga2"><img src="{% static "img/constellation0.png" %}" alt=""></div>
                <div class="astro"><a href="https://www.youtube.com/watch?v=m6S_87ELniA" target="_blank" rel="noopener noreferrer"><img src="{% static "img/astronaute_detouré.png" %}" alt="astro"></a></div>

            </div>


        </section>

        <section class="presentation">

            <br>
            <h1> Le mot des pôles</h1>
            <div class="effet"><div class="trait"></div></div>
            <br>

            <div class="président">
                <div class="astro_pres"><img src="{% static "img/astronaute_detouré.png" %}" alt="astro"></div>
                <div class="cadre">
                    <div class="img_président">
                        <h1>Julia Sartre</h1>
                        <img src="{% static "img/Julia.png" %}" alt="presidence">
                        <div class="icon">
                            <a href="https://www.facebook.com/julia.sartre.5" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://www.instagram.com/juliasartre/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/julia-sartre-/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <div class="texte">
                        <div class="titre">
                            <h1>Le mot de la président</h1>
                        </div>
                        <div class="trait"></div>
                        <div class="paragraphe">
                            <p>Le président a une multitude de responsabilités. La plus importante est de bien gérer son groupe en interne : être sûr que chaque pôle travaille comme il faut et superviser tous les différents projets, ce qu’il ne pourra pas faire sans l’aide de ses VP. Il faut qu’il sache s’adapter et trouver des solutions aux problèmes qu’encontre le BDE, et prendre des décisions parfois importantes. Il a également des responsabilités en externe : il est l’image et le porte parole du BDE et de la vie associative, notamment auprès des écoles.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vice-présidents">
                <div class="cadre">

                    <div id="carousel-vp" class="carousel slide carousel-fade" data-bs-ride="carousel" >
                      <div class="carousel-inner">
                            <div class="carousel-item active " data-interval="10">
                                <h1>Kessel D.</h1>
                                <img src="{% static "img/Kessel.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/kessel.diaroumeye" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/kessel_drm/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/kessel-diaroumeye-90b965242/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item" data-interval="10" >
                                <h1>Loucas B.</h1>
                                <img src="{% static "img/Loucas.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/loulou.bremond" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/kiwoda/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item" data-interval="10">
                                <h1>Geoffroy L.</h1>
                                <img src="{% static "img/Geoffroy.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/geoffroy.lazrak" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/geoffylv/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                      </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-vp" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-vp" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                  </button>
                </div>

                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


                    <div class="texte">
                        <div class="titre">
                            <h1>Le mot des VP</h1>
                        </div>
                        <div class="box"></div>
                        <div class="paragraphe">
                            <p>La vice-présidence c’est avant tout savoir soulager les autres dans leur travail, que ce soit celui du président comme celui des différents pôles. Cela peut prendre différentes formes telles que la circulation des informations au sein de la liste ou encore l’investissement dans les différents pôles. Un vice-président sait tout ce qui se passe au sein du groupe et se doit d’être flexible au vu de son travail multi-tâches.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="communication">
                <div class="cadre">

                    <div id="carousel-communication" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1 class="valentine">Valentine D.</h1>
                                <img src="{% static "img/background.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/valentine.delhome.5" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/valdelhome/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/valentine-delhome-86b329250/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h1 class="sinoué">Sinoué Gad</h1>
                                <img src="{% static "img/background.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/sinoue.gad" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/sinoue_gd/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h1 class="lilou">Lilou Draili</h1>
                                <img src="{% static "img/Lilou.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/lilou.lagrede" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/liilou_ld/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/lilou-lagr%C3%A8de-drai/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                          <div class="carousel-item">
                                <h1 class="enola">Enola C.</h1>
                                <img src="{% static "img/background.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/enola.courbet" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/enola_cbt/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                      </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-communication" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-communication" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                  </button>
                </div>

                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


                    <div class="texte">
                        <div class="titre">
                            <h1>communication</h1>
                        </div>
                        <div class="box"></div>
                        <div class="paragraphe">
                            <p>Le pôle soirée est comme tu l’auras deviné chargé d’organiser les soirées. Plus précisément, il s’occupe du choix du thème et des décorations, de la sécurité mais aussi du budget, et doit se coordonner avec les différents clubs qui participent à la soirée comme Déclic, INTech, les clubs de danse ou bien BPM. Il doit réaliser un dossier à présenter devant l’administration avant chaque soirée pour qu’elle la valide et sa mission est simple : émerveiller le campus.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bloc1">

                <div class="numérique">
                    <div class="cadre">

                        <div id="carousel-numérique" class="carousel slide carousel-fade" data-bs-ride="carousel">
                          <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h1 class="hugo">Hugo Cadet</h1>
                                    <img src="{% static "img/hugo.png" %}" class="d-block w-100" alt="...">
                                    <div class="carouselIcon">
                                        <a href="https://www.facebook.com/hugo.cadet.71" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/hug0_cdt/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/hugo-cadet/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <h1 class="adrien">Adrien B.</h1>
                                    <img src="{% static "img/adrien.png" %}" class="d-block w-100" alt="...">
                                    <div class="carouselIcon">
                                        <a href="https://www.facebook.com/adrien.bonni" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/adrien.bnvd/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/adrien-bonnivard/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                          </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-numérique" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel-numérique" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


                        <div class="texte">
                            <div class="titre">
                                <h1>Numérique</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le pôle soirée est comme tu l’auras deviné chargé d’organiser les soirées. Plus précisément, il s’occupe du choix du thème et des décorations, de la sécurité mais aussi du budget, et doit se coordonner avec les différents clubs qui participent à la soirée comme Déclic, INTech, les clubs de danse ou bien BPM. Il doit réaliser un dossier à présenter devant l’administration avant chaque soirée pour qu’elle la valide et sa mission est simple : émerveiller le campus.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="secrétariat">
                    <div class="cadre">
                        <div class="img_secrétariat">
                            <h1>Martin Fait </h1>
                            <img src="{% static "img/Martin.png" %}" alt="secretariat">
                             <div class="icon">
                                 <a href="https://www.facebook.com/Martinfait6" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                 <a href="https://www.instagram.com/martinfait_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="texte">
                            <div class="titre">
                                <h1>Secretariat</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le président a une multitude de responsabilités. La plus importante est de bien gérer son groupe en interne : être sûr que chaque pôle travaille comme il faut et superviser tous les différents projets, ce qu’il ne pourra pas faire sans l’aide de ses VP. Il faut qu’il sache s’adapter et trouver des solutions aux problèmes qu’encontre le BDE, et prendre des décisions parfois importantes. Il a également des responsabilités en externe : il est l’image et le porte parole du BDE et de la vie associative, notamment auprès des écoles.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="soirée">
                <div class="cadre">

                    <div id="carousel-soirée" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1>Stéphane Bajou</h1>
                                <img src="{% static "img/Stephane.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/profile.php?id=100005724045877" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/steph_bj0/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/st%C3%A9phane-bajou-449185245/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h1>Lou-Ann Dournelle</h1>
                                <img src="{% static "img/lou-Ann.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/profile.php?id=100009188968520" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h1>Lilian Mathiens</h1>
                                <img src="{% static "img/Lilian.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/profile.php?id=100004184746073" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/lilian.mrts_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/lilian-marthiens/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                      </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-soirée" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-soirée" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                  </button>
                </div>

                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


                    <div class="texte">
                        <div class="titre">
                            <h1>Le Pôle soirée</h1>
                        </div>
                        <div class="box"></div>
                        <div class="paragraphe">
                            <p>Le pôle soirée est comme tu l’auras deviné chargé d’organiser les soirées. Plus précisément, il s’occupe du choix du thème et des décorations, de la sécurité mais aussi du budget, et doit se coordonner avec les différents clubs qui participent à la soirée comme Déclic, INTech, les clubs de danse ou bien BPM. Il doit réaliser un dossier à présenter devant l’administration avant chaque soirée pour qu’elle la valide et sa mission est simple : émerveiller le campus.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bloc1">

                <div class="trésorerie">
                    <div class="cadre">

                        <div id="carousel-trésorerie" class="carousel slide carousel-fade" data-bs-ride="carousel">
                          <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h1>Lea J.</h1>
                                    <img src="{% static "img/lea.png" %}" class="d-block w-100" alt="...">
                                    <div class="carouselIcon">
                                        <a href="https://www.facebook.com/lea.journoud" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/lea_jrnd/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <h1>Tatiana K.</h1>
                                    <img src="{% static "img/tat.png" %}" class="d-block w-100" alt="...">
                                    <div class="carouselIcon">
                                        <a href="https://www.facebook.com/profile.php?id=100006789886244" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/tatianakstr/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/tatiana-kostrzewa-b9143b253/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                          </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-trésorerie" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel-trésorerie" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


                        <div class="texte">
                            <div class="titre">
                                <h1>trésorerie</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le pôle soirée est comme tu l’auras deviné chargé d’organiser les soirées. Plus précisément, il s’occupe du choix du thème et des décorations, de la sécurité mais aussi du budget, et doit se coordonner avec les différents clubs qui participent à la soirée comme Déclic, INTech, les clubs de danse ou bien BPM. Il doit réaliser un dossier à présenter devant l’administration avant chaque soirée pour qu’elle la valide et sa mission est simple : émerveiller le campus.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="seculog">
                    <div class="cadre">
                        <div class="img_seculog">
                            <h1>Alessio Mazzenlla</h1>
                            <img src="{% static "img/alessio.png" %}" alt="seculog">
                            <div class="icon">
                                <a href="https://www.facebook.com/alessio.mazzella.52" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.instagram.com/alessio.mzl/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="texte">
                            <div class="titre">
                                <h1>seculog</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le président a une multitude de responsabilités. La plus importante est de bien gérer son groupe en interne : être sûr que chaque pôle travaille comme il faut et superviser tous les différents projets, ce qu’il ne pourra pas faire sans l’aide de ses VP. Il faut qu’il sache s’adapter et trouver des solutions aux problèmes qu’encontre le BDE, et prendre des décisions parfois importantes. Il a également des responsabilités en externe : il est l’image et le porte parole du BDE et de la vie associative, notamment auprès des écoles.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="évènement">
                <div class="cadre">

                    <div id="carousel-évènement" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1 class="corentin">Corentin V.</h1>
                                <img src="{% static "img/corentin.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/corentin.vincensini.9" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/corentinvcs/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h1 class="alexandre">Alexandre L.</h1>
                                <img src="{% static "img/alexandre.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/profile.php?id=100085290221046" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/alexandrelecont/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/alexandre-leconte-0572a6252/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h1 class="juliette">Juliette G.</h1>
                                <img src="{% static "img/juliette.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/profile.php?id=100084941739471" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/juliettegtzr/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                           <div class="carousel-item">
                                <h1 class="mathis">Mathias Poli</h1>
                                <img src="{% static "img/matthias.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/profile.php?id=100084859506642" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/mattsou02/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                           <div class="carousel-item">
                                <h1 class="armand">Armand L.V.</h1>
                                <img src="{% static "img/armand.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/armand.levallois.3" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/armandlvs/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/armandlvs/" target="_blank"  rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                      </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-évènement" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-évènement" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                  </button>
                </div>

                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


                    <div class="texte">
                        <div class="titre">
                            <h1>Pôle Évènement</h1>
                        </div>
                        <div class="box"></div>
                        <div class="paragraphe">
                            <p>Le pôle soirée est comme tu l’auras deviné chargé d’organiser les soirées. Plus précisément, il s’occupe du choix du thème et des décorations, de la sécurité mais aussi du budget, et doit se coordonner avec les différents clubs qui participent à la soirée comme Déclic, INTech, les clubs de danse ou bien BPM. Il doit réaliser un dossier à présenter devant l’administration avant chaque soirée pour qu’elle la valide et sa mission est simple : émerveiller le campus.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bloc1">

                <div class="prévention">
                    <div class="cadre">
                        <div id="carousel-prévention" class="carousel slide carousel-fade" data-bs-ride="carousel">
                          <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h1>Zacharie M.</h1>
                                    <img src="{% static "img/zach.png" %}" class="d-block w-100" alt="...">
                                    <div class="carouselIcon">
                                        <a href="https://www.facebook.com/profile.php?id=100082565533674" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/zacharie_march/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <h1>Noah Azouz</h1>
                                    <img src="{% static "img/noah.png" %}" class="d-block w-100" alt="...">
                                    <div class="carouselIcon">
                                        <a href="https://www.facebook.com/noah.azouz" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/noah_azouz/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                </div>
                          </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-prévention" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel-prévention" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


                        <div class="texte">
                            <div class="titre">
                                <h1>prévention</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le pôle soirée est comme tu l’auras deviné chargé d’organiser les soirées. Plus précisément, il s’occupe du choix du thème et des décorations, de la sécurité mais aussi du budget, et doit se coordonner avec les différents clubs qui participent à la soirée comme Déclic, INTech, les clubs de danse ou bien BPM. Il doit réaliser un dossier à présenter devant l’administration avant chaque soirée pour qu’elle la valide et sa mission est simple : émerveiller le campus.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ritz">
                    <div class="cadre">
                        <div class="img_ritz">
                            <h1>Hamza Ech Chachi</h1>
                            <img src="{% static "img/hamza.png" %}" alt="presidence">
                            <div class="icon">
                                <a href="https://www.facebook.com/hamza.ech.50" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.instagram.com/sup3r_hamza/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/hamza-echchachoui/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="texte">
                            <div class="titre">
                                <h1>ritz</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le président a une multitude de responsabilités. La plus importante est de bien gérer son groupe en interne : être sûr que chaque pôle travaille comme il faut et superviser tous les différents projets, ce qu’il ne pourra pas faire sans l’aide de ses VP. Il faut qu’il sache s’adapter et trouver des solutions aux problèmes qu’encontre le BDE, et prendre des décisions parfois importantes. Il a également des responsabilités en externe : il est l’image et le porte parole du BDE et de la vie associative, notamment auprès des écoles.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="RE">
                <div class="cadre">

                    <div id="carousel-RE" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1>Alexandre C.</h1>
                                <img src="{% static "img/chidiac.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/alexandre.chidiac.5" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/alexchidiac/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/alexandre-chidiac-1a1678204/" target="_blank" ><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h1>Lucas ????</h1>
                                <img src="{% static "img/chidiac.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/profile.php?id=100085244207250" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/l.adrn/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                          <div class="carousel-item">chaque
                                <h1>Nizar Zerouale</h1>
                                <img src="{% static "img/Nizar.png" %}" class="d-block w-100" alt="...">
                                <div class="carouselIcon">
                                    <a href="https://www.facebook.com/alexandre.chidiac.5" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/alexchidiac/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/alexandre-chidiac-1a1678204/" target="_blank" ><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                      </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-RE" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-RE" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                  </button>
                </div>

                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


                    <div class="texte">
                        <div class="titre">
                            <h1>RE</h1>
                        </div>
                        <div class="box"></div>
                        <div class="paragraphe">
                            <p>Le pôle soirée est comme tu l’auras deviné chargé d’organiser les soirées. Plus précisément, il s’occupe du choix du thème et des décorations, de la sécurité mais aussi du budget, et doit se coordonner avec les différents clubs qui participent à la soirée comme Déclic, INTech, les clubs de danse ou bien BPM. Il doit réaliser un dossier à présenter devant l’administration avant chaque soirée pour qu’elle la valide et sa mission est simple : émerveiller le campus.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bloc1">

                <div class="RI">
                    <div class="cadre">
                        <div class="img_RI">
                            <h1>Quentin Vinzani</h1>
                            <img src="{% static "img/background.png" %}" alt="RI">
                            <div class="icon">
                                <a href="https://www.facebook.com/quentin.naikinou" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.instagram.com/quentin_vinz/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/quentin-vinzani/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="texte">
                            <div class="titre">
                                <h1>RI</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le président a une multitude de responsabilités. La plus importante est de bien gérer son groupe en interne : être sûr que chaque pôle travaille comme il faut et superviser tous les différents projets, ce qu’il ne pourra pas faire sans l’aide de ses VP. Il faut qu’il sache s’adapter et trouver des solutions aux problèmes qu’encontre le BDE, et prendre des décisions parfois importantes. Il a également des responsabilités en externe : il est l’image et le porte parole du BDE et de la vie associative, notamment auprès des écoles.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="DD">
                    <div class="cadre">
                        <div class="img_DD">
                            <h1>Rebecca Laik</h1>
                            <img src="{% static "img/rebecca.png" %}" alt="DD">
                            <div class="icon">
                                <a href="https://www.facebook.com/rebecca.laikk" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.instagram.com/ribichnou/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="texte">
                            <div class="titre">
                                <h1>DD</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le président a une multitude de responsabilités. La plus importante est de bien gérer son groupe en interne : être sûr que chaque pôle travaille comme il faut et superviser tous les différents projets, ce qu’il ne pourra pas faire sans l’aide de ses VP. Il faut qu’il sache s’adapter et trouver des solutions aux problèmes qu’encontre le BDE, et prendre des décisions parfois importantes. Il a également des responsabilités en externe : il est l’image et le porte parole du BDE et de la vie associative, notamment auprès des écoles.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="bloc1">

                <div class="TEMA">
                    <div class="constellation0"><img src="{% static "img/constellation0.png" %}" alt=""></div>
                    <div class="cadre">
                        <div class="img_TEMA">
                            <h1>Samy Nasr</h1>
                            <img src="{% static "img/samy.png" %}" alt="tema">
                            <div class="icon">
                                <a href="https://www.facebook.com/samy.nasr.1460" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.instagram.com/banana_lovesbanana/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                        </div>
                        <div class="texte">
                            <div class="titre">
                                <h1>T&MA</h1>
                            </div>
                            <div class="box"></div>
                            <div class="paragraphe">
                                <p>Le président a une multitude de responsabilités. La plus importante est de bien gérer son groupe en interne : être sûr que chaque pôle travaille comme il faut et superviser tous les différents projets, ce qu’il ne pourra pas faire sans l’aide de ses VP. Il faut qu’il sache s’adapter et trouver des solutions aux problèmes qu’encontre le BDE, et prendre des décisions parfois importantes. Il a également des responsabilités en externe : il est l’image et le porte parole du BDE et de la vie associative, notamment auprès des écoles.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </section>


    </section>




    <div id="rocket">
        <a href="#top"><img src="{% static "img/rocket-top.png" %}" alt="top"></a>
    </div>

    <div id="rocket_bottom">
        <a href="#bottom"><img src="{% static "img/rocket-bottom.png" %}" alt="buttom"></a>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript">
    /**
     * Animation de la fusée avec Javascript
    **/
    jQuery(document).ready(function($){
        // Stockage des références des différents éléments dans des variables
        rocket     = $('#rocket');
        rocketBottom  = $('#rocket_bottom');

        // Calcul de la marge entre le haut du document et #rocket
        fixedLimit = rocket.offset().top - parseFloat(rocket.css('marginTop').replace(/auto/,0));

        // On déclenche un événement scroll pour mettre à jour le positionnement au chargement de la page
        $(window).trigger('scroll');
        $('#rocket').hide();

        $(window).scroll(function(event){
            // Valeur de défilement lors du chargement de la page
            windowScroll = $(window).scrollTop();

            // Mise à jour du positionnegment en fonction du scroll
            if( windowScroll >= fixedLimit){
                rocket.addClass('fixed');
                rocketBottom.addClass('fixed');
            } else {
                rocket.removeClass('fixed');
                rocketBottom.removeClass('fixed');

            }
        });
    });
    </script>

    <a id="bottom"></a>

    <footer>
        <div class="parentIcon">
            <a href="https://www.youtube.com/@astro-listebde2023" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100087748087188" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/astro_2023_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="copy">
            <p>Copyright © 2022 - Liste BDE Astro | Développé par Adrien Bonnivard & Hugo Cadet</p>
        </div>
    </footer>

</body>
</html>