{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Astro, liste, BDE, 2023, Telecom SudParis, TSP, IMT, IMT-BS, institut, business, school, Télécom, astro, ASTRO, bde, Liste BDE 2023 Astro">
    <meta name="description" content="Liste BDE 2023 Astro des écoles Telecom SudParis et IMT-BS">
    <title>Liste Astro BDE</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/astronaute_detouré.png' %}"/>
    <script src="{% static "js/loader.js" %}" async></script>
</head>
<body>

    {% include 'bde/navbar.html' %}
    {% block content %}
    {% endblock %}

    <div class="loader">
            <img src="{% static "img/astronaute_detouré.png" %}" alt="loader">
    </div>
    <section id="video">
        <div class="title">
            <video src="{% static "img/backvideo1.mp4" %}" loop autoplay muted playsinline>
            </video>
            <div class="above">
                <h1>Astro</h1>
                <h3>Prêt au décollage ?</h3>
            </div>
        </div>
        <div class="selecteur">
            <div class="bandeau-gauche"></div>
            <div class="A">
                <svg viewBox="0 0 144 159" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <filter id="b" x="-.092534" y="-.063052" width="1.1851" height="1.1261" color-interpolation-filters="sRGB">
                        <feGaussianBlur stdDeviation="2.2970435"/>
                    </filter>
                        <filter id="a" x="-.11167" y="-.059191" width="1.2233" height="1.1184" color-interpolation-filters="sRGB">
                    <feGaussianBlur stdDeviation="2.0781059"/>
                    </filter>
                </defs>
                <path d="m85.873 35.417c-0.39065-2.6704-9.4601 26.75-14.548 40.218l15.908 41.886s-0.3941 2.4429 11.998 1.9106c12.392-0.53227 14.756-0.38884 14.756-0.38884s4.3278 1.2418 0.26054-10.154c-4.0673-11.396-25.256-74.42-28.373-73.472z" fill="#370700" filter="url(#a)" style="mix-blend-mode:normal;paint-order:fill markers stroke"/>
                <path d="m56.18 32.257 25.408-0.05461s3.4673-1.3225 0.75926 6.1984c-2.7081 7.5209-29.085 78.016-29.085 78.016s-0.44477 2.11-6.7847 2.843c-6.3399 0.73294-22.292-0.16909-22.292-0.16909s-1.2928 0.57767 0.88624-6.9136c2.1791-7.4913 27.909-77.942 27.909-77.942s1.3869-2.537 3.2002-1.9778z" fill="#350e00" filter="url(#b)" style="mix-blend-mode:normal"/>
                <path d="m60.18 28.257 26.852-1.4317s-1.3718 3.1449-4.0799 10.666c-2.7081 7.5209-25.691 74.925-25.691 74.925s-0.44477 2.11-6.7847 2.843c-6.3399 0.73294-22.292-0.16909-22.292-0.16909s-1.2928 0.57767 0.88624-6.9136c2.1791-7.4913 27.909-77.942 27.909-77.942s1.3869-2.537 3.2002-1.9778z" fill="#9e0e40"/>
                <path d="m87.275 27.295c-1.8737 7.2235-14.453 41.251-13.552 42.201l15.2 43.746s-0.48602 2.5101 12.397 2.348c12.883-0.16205 15.333 0.0601 15.333 0.0601s4.4545 1.4176 0.58986-10.476c-3.8647-11.894-25.153-76.657-29.967-77.879z" fill="#6d071a"/>
                </svg>
            </div>
            <div class="bandeau-droit"></div>
            <div class="bandeau-droit2"></div>
        </div>
    </section>
    <section>
        <div class="bloque" id="a-propos">
            <div class="texte">
                <h1>A propos de nous :</h1>
                <div class="line">
                </div>
                <p>Salut l’INT, bienvenue chez Astro. On aimerait vous embarquer avec nous vers un nouvel univers avec au programme pleins de jolies choses : des soirées, des stands, du partage, des rires, de la nourriture et des copains.
Car oui, astro c’est avant tout une bande de copains qui veut vous rencontrer pour vivre une belle aventure tous ensemble. On espère que vous êtes curieux d’en découvrir davantage car on a préparé une expédition riche en émotions, pas question de se reposer car on embarque bientôt pour une semaine de campagne planétaire.</p>
            </div>
            <div class="image">
                <img src="{% static "img/groupe1.png" %}" alt="test">
            </div>
        </div>
    </section>

    <footer>
        <div class="parentIcon">
            <a href="https://www.facebook.com/profile.php?id=100087748087188" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/astro_2023_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/@astro-listebde2023" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://soundcloud.com/astro-864752583"><i class="fa-brands fa-soundcloud"></i></a>
        </div>
        <div class="copy">
            <p>Copyright © 2023 - Liste BDE Astro | Développé par Adrien Bonnivard et Hugo Cadet
            </p>
        </div>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>