{% load static %}
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:black ; padding: 0 ">
        <div class="container" style="padding-left: 0">
        <a href="../" class="navbar-brand mb-0 h1" style="padding: 0 ; justify-content: left">
            <img src="{% static "img/astro.png" %}" style="height: 60px ; width: 60px  ; width: 60px ; margin-bottom: 5px ; margin-right: 200px" >
        </a>
        <button type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="navbar-toggler"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="../" class="nav-link" style="transition: all .4s;">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../lequipe/" class="nav-link" style="transition: all .4s;">
                        L'équipe
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../pougnes/" class="nav-link" style="transition: all .4s;">
                        Pougnes
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../programme/" class="nav-link" style="transition: all .4s;">
                        Notre programme
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../devenir-partenaire/" class="nav-link" style="transition: all .4s;">
                        Devenir Partenaire
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../dejeuner/" class="nav-link" style="transition: all .4s; position: absolute ; right: 5%">
                        Déjeuner
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- style du navbar
        .navbar.fixed-top {
            posistion : fixed ;
        }
    -->
</header>