{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pougnes - Liste Astro BDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/pougnes.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
    <script src="{% static "js/particules.js" %}" async></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/astronaute_detouré.png' %}"/>




</head>
<body>

    {% include 'bde/navbar.html' %}
    {% block content %}
    {% endblock %}

    <script src="{% static "js/loader.js" %}" async></script>
    <div class="loader">
            <img src="{% static "img/astronaute_detouré.png" %}" alt="loader">
    </div>

    <!-- particles.js container -->
    <div id="particles-js">


        <div class="bloc1">

            <div class="tsp">
                <div class="cadre">
                    <div class="img_">
                        <h1>Ines Picard</h1>
                        <img src="{% static "img/ines.png" %}" alt="pougne_tsp">
                    </div>
                    <div class="texte">
                        <div class="titre">
                            <h1>Pougnes TSP</h1>
                        </div>
                        <div class="box"></div>
                        <div class="paragraphe">
                            <p>Salut l'INT, pour vous aider à profiter de cette première année incroyable, les pougnes sont présentes pour vous aider dans vos révisions, afin de valider tout en vous amusant. Avec des corrigés de TD, des fiches et notes de cours sur le drive Supernova, un discord pour toutes vos questions, tout est fait pour vous simplifier la vie! Si vous avez des questions, des propositions, des remarques, il ne faut pas hésiter à nous contacter, on sera présent pour vous!</p>
                        </div>
                    </div>
                    <div class="drive">
                        <a href="https://drive.google.com/drive/folders/1cBQJMFeWhkP3njOR8GI-9RnXHS7zM6kH"><i class="fab fa-google-drive"></i></a>
                    </div>
                </div>
            </div>
            <div class="imt">
                <div class="cadre">
                <div class="img_">
                    <h1>Victor Saunal</h1>
                    <img src="{% static "img/victor1.png" %}" alt="pougne_imt-bs">
                </div>
                <div class="texte">
                    <div class="titre">
                        <h1>Pougnes IMT-BS</h1>
                    </div>
                    <div class="box"></div>
                    <div class="paragraphe">
                        <p>Salut à tous ! En tant que pougne IMT-BS je suis là pour vous aider à réussir vos études ! Je suis les cours pour vous et je rédige des fiches de synthèse très claires et concises pour vous aider à mieux comprendre les matières. C'est vraiment un coup de pouce précieux pour tous ceux qui veulent réussir et avoir de bonnes notes. Alors, si vous avez besoin de soutien, n'hésite pas à me demander de l'aide ! Je suis giga motivé pour vous sauver de faire 1B !</p>
                    </div>
                </div>
                <div class="drive">
                    <a href="https://drive.google.com/drive/folders/1cBQJMFeWhkP3njOR8GI-9RnXHS7zM6kH"><i class="fab fa-google-drive"></i></a>
                </div>
            </div>
        </div>

        </div>



    </div>

    <footer>
        <div class="parentIcon">
            <a href="https://www.facebook.com/profile.php?id=100087748087188" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/astro_2023_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/@astro-listebde2023" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://soundcloud.com/astro-864752583"><i class="fa-brands fa-soundcloud"></i></a>
        </div>
        <div class="copy">
            <p>Copyright © 2023 - Liste BDE Astro | Développé par Adrien Bonnivard et Hugo Cadet
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>