{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notre Programme - Liste Astro BDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/programme.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
    <script src="{% static "js/loader.js" %}" async></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/astronaute_detouré.png' %}"/>

</head>
<body>

    {% include 'bde/navbar.html' %}
    {% block content %}
    {% endblock %}

    <section id="main">
        <div class="loader">
            <img src="{% static "img/astronaute_detouré.png" %}" alt="loader">
        </div>
        <div id="container2">
            <div class="title">
                <h1>Notre programme :</h1>
            </div>
            <div class="line"></div>
            <div class="texte">
                <p>A travers notre BDE nous souhaitons contribuer à l’amélioration et au développement de l’intégration des étudiants au campus.
                Mais aussi d'un point de vue associatif, augmenter l’insertion des élèves non associatifs, atteindre de nouveaux publics et aider les boursiers</p>
                <br>
                <p class="idea">De manière générale, nous souhaitons : <br></p>
                <ul class="idea">
                    <li>Favoriser le développement de l’association SOS et lui permettre d’organiser à terme des séances de formation aux premiers secours par exemple ou sensibiliser à la sécurité en soirée</li>
                    <li>égocier un tarif préférentiel d’adhésion aux associations et clubs pour les élèves boursiers pour leur faciliter l’accès à la vie associative</li>
                    <li>Faire participer le plus possible les 1A non listeux aux évènements de la pré-campagne afin de les faire se sentir impliqués même si eux ne listent pas</li>
                    <li>Proposer régulièrement des sondages pour faire en sorte que tout le monde se sente impliqué (choix des boissons pour une soirée etc.)</li>
                </ul>
            </div>
            <div class="bloc1">
                <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" >
                          <div class="carousel-inner">
                                <div class="carousel-item active " data-interval="10">
                                    <h1>Pôle soirée</h1>
                                    <li>Créer des départs groupés pour des festivals/ concerts</li>
                                    <li>L’objectif d’organiser une soirée type boîte de nuit à Paris avec des départs en bus pour les élèves du campus, à discuter avec la trésorerie en mandat</li>
                                    <li>Impliquer les étudiants dans la soirée : choix d’une boisson, du type de musique pour la salle emoty :s</li>
                                </div>
                                <div class="carousel-item" data-interval="10" >
                                    <h1>Pôle RE</h1>
                                    <li>Organiser plus d’Afterwork sur le campus avec les entreprises, voire faire des partenariats avec les associations professionnalisantes du campus pour organiser des événements de grande ampleur </li>
                                </div>
                                <div class="carousel-item" data-interval="10">
                                    <h1>Pôle évent</h1>
                                    <li>Mettre en place plus de sorties en dehors du campus comme celle au Parc Astérix en fonction d’offres abordables et en partenariat avec d’autres écoles</li>
                                    <li>Créer des évent chill le week-end pour les étudiants qui restent sur le campus</li>
                                </div>
                                <div class="carousel-item" data-interval="10">
                                    <h1>Communication</h1>
                                    <li>Alimenter campus TMSP.</li>
                                    <li>Développer les évènements en ligne.</li>
                                    <li>Reprendre le menu de la semaine dès que possible.</li>
                                    <li>Maintenir les relations avec les étudiants internationaux.</li>

                                </div>
                                <div class="carousel-item" data-interval="10">
                                    <h1>Pôle numérique</h1>
                                    <li>Créer un onglet sur le site du BDE où on valoriserait les créations des élèves sur le campus (Bricol’INT, cell, musiques etc.)</li>
                                    <li>Créer un onglet qui reviendrait en images sur les grands évènements de l’année (regrouper certaines photos Déclic et les valoriser sur le site du BDE)</li>
                                    <li>Créer un onglet menant directement à Supernova</li>
                                    <li>Faire une version en anglais du site</li>
                                    <li>Mettre en place une boîte à idées ou un bot qui récoltera les idées/ remarques des élèves pour donner à ceux qui n’ont qui n’osent pas s’exprimer puissent le faire et se sentir plus concernés. Sur le site (un nouvel onglet)</li>
                                </div>
                                <div class="carousel-item" data-interval="10">
                                    <h1>Pougnes</h1>
                                    <li>Former en début d’année des petits groupe de 1A avec des 2A qui ont validé leur année pour leur expliquer comment faire (généraliser l’information et éviter que seuls certains avec des amis en 2A aient les infos, permet aussi d’aider à sociabiliser tôt)</li>
                                    <li>Diversifier les différentes méthodes de fiches (cartes mentales, flashcards etc.)</li>
                                </div>
                              <div class="carousel-item" data-interval="10">
                                    <h1>Pôle T&MA</h1>
                                    <li>Beaucoup plus valoriser ce pôle qui peut être très utile pour la vie professionnelle </li>
                                    <li>Mettre plus en relation les étudiants et les alumnis, par exemple en proposant un système de “parrainage” pour les cotisants qui pourraient entrer en contact avec leur alumni et entretenir une relation privilégiée avec eux (les faire se rencontrer lors d’un afterwork par exemple)</li>
                                </div>
                              <div class="carousel-item" data-interval="10">
                                    <h1>Trésorerie</h1>
                                    <li>Tenter d’apporter une forme d’aide financières aux différentes listes (même assez peu d’argent) afin de leur permettre d’organiser de plus gros événements, étant donné que leur volonté d’organiser des évènements et bien présente</li>
                                </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
                </div>
                <div class="constellation">
                    <img src="{% static "img/constellation3.png" %}" alt="constelllation">
                </div>
                <div class="constellation2">
                    <img src="{% static "img/constellation2.png" %}" alt="constelllation">
                </div>
                <div class="constellation3">
                    <img src="{% static "img/cancer.png" %}" alt="constelllation">
                </div>
                <div class="astro">
                    <img src="{% static "img/astronaute.png" %}" alt="astronaute">
                </div>
            </div>
        </div>
    </section>


  </body>

    <footer>
        <div class="parentIcon">
            <a href="https://www.facebook.com/profile.php?id=100087748087188"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/astro_2023_/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/@astro-listebde2023"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="copy">
            <p>Copyright © 2023 - Liste BDE Astro | Développé par Adrien Bonnivard & Hugo Cadet
            </p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>